Repository Hyp-ed/hyped-2021, pull requests merged in 2020-11, with the labels that each got.

#13 Implemented Idling and Calibrating states and fixed checkEmergencyStop
  src/state_machine/state.cpp
  src/state_machine/state.hpp
Labels: bug, enhancement, state-machine

#14 Renamed reset to shutdown
  src/data/data.hpp
  src/state_machine/state.cpp
  src/state_machine/state.hpp
  src/telemetry/recvloop.cpp
Labels: enhancement, state-machine, telemetry

#15 QA Integrator Test
  test/src/Test.files
  test/src/utils/integrator.test.cpp
Labels: Testing

#16 STM: State abstraction
  src/data/data.hpp
  src/state_machine/main.cpp
  src/state_machine/main.hpp
  src/state_machine/state.cpp
  src/state_machine/state.hpp
  src/state_machine/transitions.cpp
  src/state_machine/transitions.hpp
Labels: enhancement, state-machine

#20 Added braking buffer
  src/data/data.hpp
  src/state_machine/transitions.cpp
Labels: enhancement, navigation, state-machine

#17 Added clang-format configuration
  .clang-format
Labels: enhancement, quality-assurance
