Repository Hyp-ed/hyped-2021, pull requests merged in 2021-06, with the labels that each got.

#83 Implement full run tests
  test/src/state_machine/randomiser.hpp
  test/src/state_machine/run.test.cpp
  test/src/state_machine/state.test.cpp
  test/src/state_machine/transitions.test.cpp
Labels: enhancement, state-machine, testing

#93 STM: Moving full run tests into cruising branch to prepare for (eventual) merge
  test/src/state_machine/randomiser.hpp
  test/src/state_machine/run.test.cpp
  test/src/state_machine/state.test.cpp
  test/src/state_machine/transitions.test.cpp
Labels: state-machine, testing

#94 qa-Codecov-Problem
  .github/workflows/c-cpp.yml
Labels: bug, quality-assurance
