Repository Hyp-ed/hyped-2021, pull requests merged in 2021-02, with the labels that each got.

#34 Update embrakes
  configurations/embrakes.txt
  configurations/test/subconfig.txt
  src/data/data.hpp
  src/embrakes/fake_stepper.cpp
  src/embrakes/fake_stepper.hpp
  src/embrakes/interface.hpp
  src/embrakes/main.cpp
  src/embrakes/main.hpp
  src/embrakes/stepper.cpp
  src/embrakes/stepper.hpp
  src/utils/config.cpp
  src/utils/config.hpp
  src/utils/system.cpp
Labels: enhancement, sensors

#39 STM: Fixed initial state
  src/state_machine/main.cpp
Labels: bug, state-machine

#33 QA Vector Test
  test/src/Test.files
  test/src/utils/vectors/vector_basic.test.cpp
  test/src/utils/vectors/vector_constructor.test.cpp
  test/src/utils/vectors/vector_float.test.cpp
  test/src/utils/vectors/vector_operations_with_vectors.test.cpp
  test/src/utils/vectors/vector_properties.test.cpp
Labels: quality-assurance, testing

#38 STM: Extracted all transition checks into variables for consistency
  src/state_machine/state.cpp
Labels: enhancement, state-machine

#32 STM transition tests
  src/state_machine/state.cpp
  src/state_machine/transitions.cpp
  src/state_machine/transitions.hpp
  test/src/Test.files
  test/src/state_machine/dummy.test.cpp
  test/src/state_machine/transitions.test.cpp
Labels: quality-assurance, state-machine, testing

#42 STM: Transition checks are now using references
  src/state_machine/messages.cpp
  src/state_machine/messages.hpp
  src/state_machine/transitions.cpp
  src/state_machine/transitions.hpp
Labels: enhancement, state-machine

#48 STM: Undefining MAKE_STATE macro following Google styleguide
  src/state_machine/state.hpp
Labels: enhancement, state-machine

#44 MTC: Fixed main loop logic
  src/data/data.cpp
  src/propulsion/main.cpp
  src/propulsion/main.hpp
Labels: motors, state-machine

#52 STM stop log spam
  src/state_machine/messages.cpp
  src/state_machine/messages.hpp
  src/state_machine/transitions.cpp
Labels: bug, state-machine
