Repository Hyp-ed/hyped-2021, pull requests merged in 2021-03, with the labels that each got.

#55 NAV: Handling kCruising and removed deprecated states
  src/navigation/main.cpp
Labels: bug, navigation, state-machine

#57 TLM: Updated logic to match state machine
  src/telemetry/main.cpp
  src/telemetry/writer.cpp
Labels: bug, state-machine, telemetry

#53 [WIP] QA: Update Makefile to support Production Tests
  utils/build/test.mk
  utils/githooks/pre-commit
  utils/githooks/pre-push
Labels: quality-assurance, testing

#54 STM: Fixed error messages during testing
  test/src/state_machine/transitions.test.cpp
Labels: enhancement, state-machine, testing

#60 [WIP] SNS: Updated logic to match state machine
  src/embrakes/main.cpp
Labels: bug, sensors, state-machine

#62 SNS: Fixed initial state
  src/embrakes/main.cpp
Labels: bug, sensors, state-machine

#63 SNS: Logic changes for sensors
  src/sensors/bms_manager.cpp
  src/sensors/gpio_manager.cpp
Labels: bug, sensors, state-machine

#64 Fixed naming of constants in data
  src/data/data.hpp
  src/embrakes/main.cpp
  src/state_machine/transitions.cpp
  test/src/state_machine/transitions.test.cpp
Labels: enhancement, navigation, sensors

#69 SNS: Adding BMS calibrating
  src/sensors/bms_manager.cpp
Labels: sensors, state-machine
